<div class="quote-container">
  <div *ngIf="isLoadingQuote" class="quote-loading">
    <mat-spinner diameter="30"></mat-spinner> Loading inspiration...
  </div>
  <div *ngIf="!isLoadingQuote && motivationalQuote" class="quote-display">
    <blockquote>
      <p>{{ motivationalQuote }}</p>
      <button mat-icon-button (click)="generateMotivationalQuote()" matTooltip="Get new quote">
        <mat-icon>refresh</mat-icon>
      </button>
    </blockquote>
  </div>
</div>

<app-enrolled-courses-list></app-enrolled-courses-list>