<div class="flex items-center gap-2">
</div>
<div class="my-4">
  <emr-h-divider/>
</div>
<div class="ms-auto flex items-center gap-2.5">
  <emr-dicebear key="PS" src="assets/avatars/1.svg" class="size-12"/>
  <div class="flex items-center rounded-full p-1 gap-[0.5] bg-surface-container-high
              dark:bg-surface-container-highest hover:text-on-surface">
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Payments">
      <mat-icon>credit_card</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon matBadge="3">notifications</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
